* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}


.search-bar {
    border:20px;
    outline: none;
    width: 260px;
    font-size: 18px;
    color: #80b918;
}

::placeholder {
    opacity: 0.6;
    color: #80b918;
}

.category-btn {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border: none;
    text-transform: capitalize;
    gap: 15px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    color: #80b918;
    padding: 7px 15px;
    margin: 10px 0;
}

.category-btn:hover {
    background-color: #80b918;
    color: white;
}


::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #80b918 !important;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

a{
    color: white;
}
.react-player {
    height: 77vh !important;
    width: 100% !important;
}


@media screen and (max-width: 576px) {
    .search-bar{
        width: 75%;
    }

    .react-player{
        height: 45vh !important;
    }
}